<form [formGroup]="form" (ngSubmit)="onSubmit()" class="example-form">

    <div *ngIf="!this.developer.phoneNumber">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Telephone</mat-label>
            <input type="tel" name="phoneNumber" formControlName="phoneNumber" matInput placeholder="555-555-1234">
            <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
    </div>

    <div *ngIf="!this.developer.locationId">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Location</mat-label>
            <input type="text" name="location" matInput formControlName="location" [matAutocomplete]="auto1">
            <mat-autocomplete #auto1="matAutocomplete" [displayWith]="displayLocationFn">
                <mat-option *ngFor="let location of filteredLocations | async" [value]="location">
                    {{location.name}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Location url</mat-label>
            <input matInput name="mapUrl" formControlName="mapUrl" placeholder="https://googlemaps.com/43242">
        </mat-form-field>
    </div>

    <div *ngIf="!this.developer.technologyId">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Technology</mat-label>
            <input type="text" name="technology" matInput formControlName="technology" [matAutocomplete]="auto2">
            <mat-autocomplete #auto2="matAutocomplete" [displayWith]="displayTechnologyFn">
                <mat-option *ngFor="let technology of filteredTechnologies | async" [value]="technology">
                    {{technology.name}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Technology image url</mat-label>
            <input matInput name="imageUrl" formControlName="imageUrl" placeholder="https://googlemaps.com/43242.png">
        </mat-form-field>
    </div>

    <div *ngIf="!this.developer.pricePerHour">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Price per hour</mat-label>
            <input type="nubmer" name="pricePerHour" formControlName="pricePerHour" value="0.00" matInput
                placeholder="6.43">
            <mat-icon matSuffix>attach_money</mat-icon>
        </mat-form-field>
    </div>

    <div *ngIf="!this.developer.yearsOfExperience">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Years of experience</mat-label>
            <input type="nubmer" name="yearsOfExperience" formControlName="yearsOfExperience" value="0" matInput
                placeholder="5">
            <mat-icon matSuffix>date_range</mat-icon>
        </mat-form-field>
    </div>

    <div *ngIf="!this.developer.nativeLanguageId">
        <mat-form-field appearance="fill">
            <mat-label>Native language</mat-label>
            <mat-select name="nativeLanguage" formControlName="nativeLanguage">
                <mat-option *ngFor="let language of languages" [value]="language.id">
                    {{language.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <!-- <div *ngIf="!this.developer.nativeLanguageId">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Price per hour</mat-label>
            <input type="nubmer" name="pricePerHour" formControlName="pricePerHour" matInput placeholder="6.43">
            <mat-icon matSuffix>attach_money</mat-icon>
        </mat-form-field>
    </div> -->


    <!-- <div *ngIf="this.lockLocation; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock></ng-template>
    <ng-template #elseBlock></ng-template> -->

    <app-button content="Save" width="100%"></app-button>
</form>