<form [formGroup]="form">
    <h1 mat-dialog-title>Create location</h1>
    <div mat-dialog-content>
        <mat-form-field appearance="fill">
            <mat-label>Name...</mat-label>
            <input matInput required formControlName="name" placeholder="Sofia, Bulgaria...">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Url</mat-label>
            <input matInput formControlName="mapUrl" placeholder="https://idk.com/img32131">
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Cancel</button>
        <button mat-button (click)="onSubmitClick()" color="primary" cdkFocusInitial>Create</button>
    </div>
</form>