<h1 mat-dialog-title>Checkout location</h1>
<div mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>Id</mat-label>
        <input matInput disabled [(ngModel)]="data.id" placeholder="0">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput disabled [(ngModel)]="data.name" placeholder="Sofia, Bulgaria...">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Url</mat-label>
        <input matInput disabled [(ngModel)]="data.mapUrl" placeholder="https://idk.com/img32131">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Close</button>
</div>