<mat-list>
    <mat-list-item>
        <h4 mat-line>Email</h4>
        <p mat-line class="demo-2"> {{user.email}} </p>
    </mat-list-item>
    <div class="flex">
        <mat-divider></mat-divider>
        <mat-list class="half">
            <mat-list-item>
                <h4 mat-line>First Name</h4>
                <p mat-line class="demo-2"> {{user.firstName}} </p>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <h4 mat-line>Profile Id</h4>
                <p mat-line class="demo-2"> {{user.id}} </p>
            </mat-list-item>
        </mat-list>
        <mat-list class="half">
            <mat-list-item>
                <h4 mat-line>Last Name</h4>
                <p mat-line class="demo-2"> {{user.lastName}} </p>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <h4 mat-line>Todo</h4>
                <p mat-line class="demo-2">Put somethin' here</p>
            </mat-list-item>
        </mat-list>
    </div>
    <mat-divider></mat-divider>
    <mat-list-item>
        <h4 mat-line>TODO</h4>
        <p mat-line class="demo-2"> Put some long value here. </p>
    </mat-list-item>
    <mat-divider></mat-divider>
</mat-list>

<app-data-picker></app-data-picker> 
<!-- <mat-form-field>
    <input matInput [matDatepicker]="picker" [matDatepickerFilter]="disabledDaysFilter" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field> -->
<!-- <app-heatmap data=[hires]></app-heatmap> -->

<!-- TODO ADD EDIT PROFILE, DELETE PROFILE -->

<!-- description
<mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Message</mat-label>
    <input matInput #message maxlength="256" placeholder="Ex. I need help with...">
    <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>
    <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
</mat-form-field> -->