<!-- TODO ADD PROFILE PICTURE -->
<mat-list>
    <mat-list-item>
        <h4 mat-line>Email</h4>
        <p mat-line class="demo-2"> {{user.email}} </p>
    </mat-list-item>
    <div class="flex">
        <mat-divider></mat-divider>
        <mat-list class="half">
            <mat-list-item>
                <h4 mat-line>First Name</h4>
                <p mat-line class="demo-2"> {{user.firstName}} </p>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <h4 mat-line>Phone Number</h4>
                <p mat-line class="demo-2"> {{user.phoneNumber ? user.phoneNumber : "Missing"}} </p>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <h4 mat-line>Profile Id</h4>
                <p mat-line class="demo-2"> {{user.id}} </p>
            </mat-list-item>
        </mat-list>
        <mat-list class="half">
            <mat-list-item>
                <h4 mat-line>Last Name</h4>
                <p mat-line class="demo-2"> {{user.lastName}} </p>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <h4 mat-line>Technology</h4>
                <p mat-line class="demo-2"> {{user.technology?.name ? user.technology?.name : "Missing"}} </p>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <h4 mat-line>Native Language</h4>
                <p mat-line class="demo-2"> {{user.nativeLanguage?.name ? user.nativeLanguage?.name : "Missing"}} </p>
            </mat-list-item>
        </mat-list>
    </div>
    <mat-divider></mat-divider>
    <mat-list-item>
        <h4 mat-line>Location</h4>
        <p mat-line class="demo-2"> {{user.location?.name ? user.location?.name : "Missing"}} </p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <h4 mat-line>LinkedIn</h4>
        <p mat-line class="demo-2"> {{user.linkedIn ? user.linkedIn : "Missing"}} </p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <h4 mat-line>Description</h4>
        <p mat-line class="demo-2"> {{user.description ? user.description : "Missing"}} </p>
    </mat-list-item>
    <mat-divider></mat-divider>
</mat-list>

<div *ngIf="this.completedProfile; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
    <p #thenBlock>Completed required fields.</p>
</ng-template>
<ng-template #elseBlock>
    <div>
        <p>You must complete your profile</p>
        <app-complete-profile [user]="this.user"></app-complete-profile>
    </div>
</ng-template>

<!-- TODO ADD EDIT PROFILE, DELETE PROFILE -->

<!-- description
<mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Message</mat-label>
    <input matInput #message maxlength="256" placeholder="Ex. I need help with...">
    <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>
    <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
</mat-form-field> -->