.example-card {
    width: 250px;
    // max-width: 400px;
}

.example-header-image {
    background-size: cover;
}

li {
    list-style: none;
    padding-bottom: 20px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    place-content: space-around;
}

.img1 {
    height: calc(250px + 32px);
    width: calc(100% + 32px);
    object-fit: cover;
}

.img2 {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 25px;
}

.flex {
    display: flex;
}
