<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div *ngIf="this.errorMessage != ''">
        {{this.errorMessage}}
    </div>
    <!-- <label for="email">Email:</label>
    <input type="email" name="email" formControlName="email">
    <label for="password">Password:</label>
    <input type="password" name="password" formControlName="password">
    <button>Login</button> -->

    <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email"
            placeholder="Ex. pat@example.com">
        <mat-error *ngIf="form.get('email')?.hasError('email') && !form.get('email')?.hasError('required')">
            Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="form.get('email')?.hasError('required')">
            Email is <strong>required</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password">
        <mat-error *ngIf="form.get('password')?.hasError('password') && !form.get('password')?.hasError('required')">
            Please enter a valid password
        </mat-error>
        <mat-error *ngIf="form.get('password')?.hasError('required')">
            Password is <strong>required</strong>
        </mat-error>
    </mat-form-field>

    <app-button content="Login" width="100%"></app-button>
</form>