@import "~@angular/material/theming";

@import "../../../assets/variables";

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: $primary;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 600;
    padding: 0 20%;
}

.toolbar img {
    margin: 0 16px;
}

.toolbar {
    color: white;
}

.right {
    margin-left: auto;
}
