<div class="toolbar" role="banner">
    <img width="40" alt="Angular Logo" src="../../../assets/logo.svg">

    <a mat-button [routerLink]="['/hire']">Hire!</a>

    <div class="right">
        <div *ngIf="authService.isLoggedIn; then thenThen else elseBlock"></div>
        <ng-template #thenThen>
            <a mat-button [routerLink]="['/Profile']">Profile</a>
            <a mat-stroked-button (click)="logout()">Logout</a>
        </ng-template>
        <ng-template #elseBlock>
            <a mat-button [routerLink]="['/login']">Login</a>
            <a mat-button [routerLink]="['/register']">Register</a>
        </ng-template>
    </div>
</div>