<div [formGroup]="dataRange">
    <mat-form-field appearance="fill">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker" [min]="minDate!" [max]="maxDate!"[dateFilter]="disabledDaysFilter">
            <input matStartDate formControlName="start" placeholder="Start date">
            <input (ngModelChange)="dataChanged()" matEndDate formControlName="end" placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>

        <mat-error *ngIf="dataRange.hasError('matStartDateInvalid')">Invalid start date</mat-error>
        <mat-error *ngIf="dataRange.hasError('matEndDateInvalid')">Invalid end date</mat-error>
        <mat-error *ngIf="dataRange.hasError('invalidRange')">Invalid range</mat-error>

    </mat-form-field>
</div>