h4 {
    margin: 0;
}

h4::after {
    content: ":";
}

.flex {
    display: flex;
}

.half {
    width: 50%;
}

img {
    height: 250px;
    width: 250px;
    object-fit: cover;
}

.buttons {
    display: flex;
    justify-content: space-around;
}